@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

.categories-list-component {
  .new-element {
    margin-bottom: 40px;
    .element {
      position: relative;
    }

  }
  .torless-page {
    &__list {
      .name {
        font-size: 1.5rem;
      }
      input {
        color: #000;
        font-weight: 800;

        @include placeholder {
          color: #bababa;
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
      .amount {
        margin-right: auto;
        flex-direction: row-reverse;
        display: flex;
        align-self: center;
        color: #a3a3a3;
        font-family: sans-serif;
        user-select: none;

        .description {
          font-size: 1rem;
          letter-spacing: -1px;
          &:after {
            content: '--';
            color: #fff;
          }
        }
      }


      .buttons {
        margin-right: auto;
        font-family: sans-serif;
        .remove-category {
          display: inline-block;
          margin-left: 15px;
          color: #a3a3a3;
          vertical-align: middle;
          letter-spacing: -1px;
          font-size: 1rem;
          user-select: none;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .save-button,
        .redirect-button {
          width: 230px;
          padding: 10px;
          color: #000;
          background: #fff557;
          font-size: 1.1rem;
        }
      }
    }
  }
}
