<div class="categories-list-component">

  <div class="torless-page__header">
    <button (click)="addNewCategory()" class="torless-page__add-new-element">
      <span class="plus">+</span>
      <span class="text"> הוסף קטגוריה</span>
    </button>
    <div class="title">
      קטגוריות
    </div>
  </div>

  <!--<div>-->
    <!--<span (click)="tmpCafeteriaList()">go to cafeterias list</span>-->
  <!--</div>-->

  <div class="torless-page__list new-element" *ngIf="newCategory">
    <div class="element">
      <div style="position: absolute; top: -12px; right: 18px;">
        <app-information [hintText]="'1004'" hintPosition="top left" iconColor="#ff5b57"></app-information>
        <app-information [hintText]="'1005'" hintPosition="top left" iconColor="#ff5b57"></app-information>
      </div>
      <div class="dots">
        <img src="./assets/icon/more.svg">
      </div>
      <div class="input-line">
        <input type="text" [(ngModel)]="newCategory.ct_name" placeholder="שם קטגוריה">
      </div>

      <div class="amount">
        <span class="number">0</span>
        <span class="description">מספר</span>
      </div>


      <div class="buttons">
        <button class="save-button" (click)="saveNewCategory(newCategory)" [disabled]="!newCategory.ct_name">
          רשימת מוצרים
        </button>
        <span class="remove-category" (click)="removeNewCategory()">להסיר קטגוריה</span>
      </div>


    </div>
  </div>

  <div class="torless-page__list" *ngIf="categories?.length > 0" dnd-sortable-container [sortableData]="categories">

    <div class="element" *ngFor="let category of categories; let i = index" dnd-sortable [sortableIndex]="i" (onDropSuccess)="categoriesDropped()">
      <div class="dots">
        <img src="./assets/icon/more.svg">
      </div>
      <div class="name" *ngIf="!category.edit">
        <span (click)="setEditMode(category)">{{ category.category_name || 'NA' }}</span>
      </div>

      <div class="input-line" *ngIf="category.edit && editBuffer">
        <input type="text" [(ngModel)]="editBuffer.category_name" placeholder="שם קטגוריה" (blur)="editCategory(editBuffer)">
      </div>


      <div class="amount">
        <span class="number">{{ category.prod_col }}</span>
        <span class="description">מספר</span>
      </div>

      <div class="buttons">
        <button class="redirect-button" (click)="goToProducts(category.cat_id)">
          לשמור קטגוריה חדשה
        </button>
        <span class="remove-category">להסיר קטגוריה</span>
      </div>
    </div>
  </div>

  <div class="footer" *ngIf="categories?.length >= 5">
    <button (click)="addNewCategory()" class="torless-page__add-new-element">
      <span class="plus">+</span>
      <span class="text">הוסף קטגוריה</span>
    </button>
  </div>
</div>
