.information-block {
  display: inline-block;
  width: 31.5%;
  text-align: center;
  height: auto;
  margin: 0;
  vertical-align: top;

  .visible-part {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 1.9rem;
    height: 1.9rem;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
    padding-top: 0.07rem;
    font-weight: 100;
    font-size: 1.2rem;
    border-radius: 50%;
    background: #ffffff;
    span {
      color: #8f8f8f;
      font-weight: 900;
      align-self: center;
    }

  }

  .hidden-part {
    display: none;
    position: absolute;
    background: #fff;
    padding: 5px;
    top: 35px;
    left: -146px;
    width: 300px;
    text-align: right;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);

    .text {
      color: #7c7c7c;
    }
  }

  .hidden-part:after {
    content: '';
    position: absolute;
    left: calc(50% - 7px);
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  &:hover {
    .hidden-part {
      display: block;
    }
  }

  @media screen and (max-width: 760px) {
    display: none;
  }
}


