.information-element {
  position: relative;
  display: inline-block;
  user-select: none;
  height: 24px;

  .visible-part {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    background: #ffffff;
    color: #909090;
    font-weight: 900;
    font-size: 17px;
    border-radius: 100%;
    border: 1px solid #eaeaea;
  }

  .hidden-part {
    display: none;
    position: absolute;
    z-index: 20;
    width: 300px;
    text-align: right;
    background: #ffffff;
    box-shadow: 0 0 10px rgb(0,0,0);
    border-radius: 2px;
    padding: 5px;

    &.center {
      left: calc((310px - 24px)/2 * -1);
      &:after {
        left: calc(50% - 8px);
      }
    }

    &.left {
      left: calc((310px - 24px * 1.5) * -1);
      &:after {
        right: 16px;
      }
    }

    &.right {
      right: calc((310px - 24px * 1.5) * -1);
      &:after {
        left: 16px;
      }
    }

    &.top {
      top: calc((15px + 24px) * -1);
      &:after {
        content: '';
        position: absolute; /* Абсолютное позиционирование */
        bottom: -16px;
        border: 8px solid transparent;
        border-top: 8px solid #ffffff;
      }
    }

    &.bottom {
      bottom: calc((15px + 24px) * -1);
    }

    .hint-text {
      color: #909090;
      font-size: 17px;
    }

  }

  &:hover {
    .hidden-part {
      display: block;
    }
  }

}
