<div class="edit-manager-component">
  <div class="component-title">
    מנהל עריכה
  </div>

  <div class="component-content">
    <div class="left-side-form">
      <div class="create-connection">
        <div class="notice">
          <div class="bold">תהליך ההרשמה לתורלס הוא</div>
          <div class="bold">.חד פעמי</div>
          <div class="normal">בעתיד, תוכל/י לבצע עידכונים וש</div>
        </div>

        <div class="notice notice__second">
          <div class="bold">נא הכינו את המידע הנ”ל:</div>

          <div class="normal create__big__area">

            <span>רשימת קטגוריות המוצרים </span><br><span>שמות כל המוצרים</span><br><span>תיאור מפורט של כל המוצרים</span></div>

        </div>

        <div class="link">
          לעזרה - צור/י קשר
        </div>
      </div>
    </div>

    <div class="manager-details-form">
      <!--cafeteria details-->
      <div class="form-label">
        מנהל הקפטריה
      </div>

      <div class="input-line required">
        <input type="text" dir="rtl" appInput [(ngModel)]="manager.name" [placeholderMessage]="'שם פרטי'">
      </div>

      <div class="input-line required">
        <input type="text" dir="rtl" appInput [(ngModel)]="manager.last_name" [placeholderMessage]="'שם משפחה'">
      </div>

      <!--<div class="input-line">-->
        <!--<input type="text" appInput [(ngModel)]="manager.id" [placeholderMessage]="'id'">-->
      <!--</div>-->

      <!--<div class="input-line">-->
        <!--<input type="text" dir="rtl" [(ngModel)]="manager.passport_id" appInput [placeholderMessage]="'passport ID'">-->
      <!--</div>-->

      <div class="input-line required">
        <input type="text" dir="rtl" appInput [(ngModel)]="manager.email" (blur)="checkEmail(manager.email)"  [placeholderMessage]="'אֶלֶקטרוֹנִי'" [error]="formErrors.emailField" [message]="formErrorMessages.email">
      </div>

      <div class="input-line required">
        <input type="text" dir="rtl" appInput [(ngModel)]="manager.phone" (keyup)="manager.phone = phoneFormatter(manager.phone)" [placeholderMessage]="'טלפון'">
      </div>

      <div style="margin-bottom: 1.5rem; font-weight: 800; font-size: 1.3rem">
        סיסמה
      </div>

      <div class="input-line">
        <input type="password" dir="rtl" appInput [(ngModel)]="passwords.main" (blur)="checkPassword(passwords.main, 'passwordField')" [error]="formErrors.passwordField" [message]="formErrorMessages.password" [placeholderMessage]="'סיסמה'">
      </div>

      <div class="input-line">
        <input type="password" dir="rtl" appInput [(ngModel)]="passwords.confirm" (blur)="checkPassword(passwords.confirm, 'confirmPasswordField')" [error]="formErrors.confirmPasswordField" [message]="formErrorMessages.password" [placeholderMessage]="'אשר סיסמה'">
      </div>

      <div class="submit-block">
        <div class="submit-button-container">
          <button (click)="updateManager(manager)" [disabled]="isButtonDisabled()">עדכון</button>
          <div class="repeat-button">
            <span (click)="goBack()">חזור</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
