<div class="torless-modal time-select-modal">
  <div class="torless-modal__header">
    <div class="text">
      בחר זמן
    </div>
    <div class="close-button" (click)="close()"></div>
  </div>

  <div class="torless-modal__body" >
    <div class="buttons">
      <button class="button" [ngClass]="{'selected': workingDay}" (click)="makeWorking(false)">
        <!--not working-->
        לא עובד
      </button>
      <button class="button" [ngClass]="{'selected': workingDay}" (click)="makeWorking(true)">
        <!--working-->
        עובד
      </button>
    </div>
    <div class="form" *ngIf="hours">
      <!--<select appSelect [search]="search" [(ngModel)]="selectedDay">-->
        <!--<option value="1">1</option>-->
        <!--<option value="2">2</option>-->
        <!--<option value="3">3</option>-->
        <!--<option value="4">4</option>-->
      <!--</select>-->
      <app-select [list]="['1', '2']" [placeholder]="'select placeholder'" (setItem)="test = $event">

      </app-select>
    </div>
    <div class="day-select">
      <div class="day selected">
        <div class="icon">א</div>
      </div>
      <div class="day">
        <div class="icon">ב</div>
      </div>
      <div class="day">
        <div class="icon">ג</div>
      </div>
      <div class="day">
        <div class="icon">ד</div>
      </div>
      <div class="day">
        <div class="icon">ה</div>
      </div>
      <div class="day">
        <div class="icon">ו</div>
      </div>
      <div class="day">
        <div class="icon">ש</div>
      </div>
    </div>
  </div>

  <div class="torless-modal__footer" (click)="submit()">
    <div class="response-button">
      תְגוּבָה
    </div>
    <div class="reject-button" (click)="close()">
      לִדחוֹת
    </div>
  </div>
</div>
