<div class="torless-modal time-select-modal">
  <div class="torless-modal__header">
    <div class="text">
      בחר זמן
    </div>
    <div class="close-button" (click)="close()"></div>
  </div>

  <div class="torless-modal__body" >
    <div class="buttons">
      <button class="button" [ngClass]="{'selected': viewedDay?.opened}" (click)="makeWorking(true)">
        <!--working-->
        עובד
      </button>
      <button class="button" [ngClass]="{'selected': viewedDay?.closed}" (click)="makeWorking(false)">
        <!--not working-->
        לא עובד
      </button>

    </div>
    <div class="form" *ngIf="viewedDay?.opened">
      <div class="select-container">
        <app-select [list]="hours" [value]="getValue('openAt')" [placeholder]="'פתוח ב'" (setItem)="setTime($event, 'openAt')"></app-select>
      </div>

      <div class="select-container">
        <app-select [list]="hours" [value]="getValue('closeAt')" [placeholder]="'סגור ב'" (setItem)="setTime($event, 'closeAt')"></app-select>
      </div>
    </div>


    <div class="day-select">
      <div class="day" *ngFor="let day of week?.days; let index = index;"
           (click)="selectDay(day)"
           [ngClass]="{'selected': viewedDay?.dayNumber === (index + 1)}">
        <div class="icon">{{ day.dayName }}</div>
        <div *ngIf="day.openAt && day.closeAt" class="time">
          {{ day.openAt + ' - ' + day.closeAt}}
        </div>
      </div>
      <!--<div class="day" (click)="selectDay(1)" [ngClass]="{'selected': selectedDay === 1}">-->
        <!--<div class="icon">א</div>-->
      <!--</div>-->
      <!--<div class="day" (click)="selectDay(2)" [ngClass]="{'selected': selectedDay === 2}">-->
        <!--<div class="icon">ב</div>-->
      <!--</div>-->
      <!--<div class="day" (click)="selectDay(3)" [ngClass]="{'selected': selectedDay === 3}">-->
        <!--<div class="icon">ג</div>-->
      <!--</div>-->
      <!--<div class="day" (click)="selectDay(4)" [ngClass]="{'selected': selectedDay === 4}">-->
        <!--<div class="icon">ד</div>-->
      <!--</div>-->
      <!--<div class="day" (click)="selectDay(5)" [ngClass]="{'selected': selectedDay === 5}">-->
        <!--<div class="icon">ה</div>-->
      <!--</div>-->
      <!--<div class="day" (click)="selectDay(6)" [ngClass]="{'selected': selectedDay === 6}">-->
        <!--<div class="icon">ו</div>-->
      <!--</div>-->
      <!--<div class="day" (click)="selectDay(7)" [ngClass]="{'selected': selectedDay === 7}">-->
        <!--<div class="icon">ש</div>-->
      <!--</div>-->
    </div>
  </div>

  <div class="torless-modal__footer">
    <button class="response-button" (click)="submit()" [disabled]="isButtonDisabled()">
      תְגוּבָה
    </button>
    <div class="reject-button" (click)="close()">
      לִדחוֹת
    </div>
  </div>
</div>
