.path-component {
    font-family: 'OpenSansHebrew-Regular';
    position: relative;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin-right: 10%;
    white-space: nowrap;

  .previous {
    color: #000000;
    border-bottom: 2px solid #838383;
    cursor: pointer;
  }
  .current {
    color: #9b9b9b;
    cursor: pointer;
  }
}
