
.login-component {
  width: 60%;
  max-width: 940px;
  margin: 10px auto;

  @media screen and (max-width: 760px) {
    width: 90%;
  }

  .component-center-element {
    width: 40%;
    margin: 0 auto;

    @media screen and (max-width: 940px) {
      width: 100%;
      max-width: 300px;
    }
  }

  .component-button-container {
    button {
      width: 100%;
      height: 44px;
      background: #fff557;
      font-size: 0.9rem;
      font-weight: 900;
      &:active {
        background: darken(#fff557, 10%)
      }
    }
    button[disabled] {
      cursor: not-allowed;
    }
  }

  .component-input {
    input {
      width: 100%;
      height: 34px;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .component-title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 40px;
  }

  .login-header {
    position: relative;
    display: flex;
    margin: 0 0 20px 0;



    .info {
      margin: 0 auto;
    }
  }

  .component-content {
    position: relative;

    @media screen and (max-width: 940px) {
      display: flex;
      flex-direction: column-reverse;
    }

    .register-container {
      position: absolute;
      width: 25%;
      margin: 0 auto;

      @media screen and (max-width: 940px) {
        position: relative;
        width: 100%;
        max-width: 300px;
      }

      .register-label {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 900;
        margin-bottom: 20px;
      }
    }

    .login-container {
      @media screen and (max-width: 940px) {
        margin-bottom: 40px;
      }
      .login-label {
        text-align: end;
        color: #484848;
        margin-bottom: 25px;
      }
      .login-input-field {
        position: relative;
        margin-bottom: 40px;

        input {
          background: inherit;
        }

        .forgot-password {
          position: absolute;
          left: 0;
          top: -16px;
          cursor: pointer;
          font-size: 0.7rem;
          border-bottom: 1px solid #656565;
          &:hover {
            color: #000;
            border-bottom: 1px solid #000;
          }
        }
      }
      .button-container {
        button {

        }
      }
    }

  }
}



/* Draggable*/

.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}
