<div class="manager-list-component">
  <div class="torless-page__header">
    <button (click)="addManager()" class="torless-page__add-new-element">
      <span class="plus">+</span>
      <span class="text">ליצור מנהל</span>
    </button>
    <div class="title">רשימת מנהלים</div>
  </div>

  <div class="torless-page__list">
    <div class="element" *ngFor="let manager of managers">
      <div class="name">
        {{ manager.name + ' ' + manager.last_name }}
      </div>
      <div class="email">
        {{ manager.email }}
      </div>
      <div class="buttons">
        <button class="buttons__edit" (click)="editManager(manager)">
          <img src="./assets/icon/edit.svg">
          <div>מנהל עריכה</div>
        </button>
      </div>
    </div>
  </div>
</div>
