.manager-list-component {
  padding-top: calc(1.7rem + 44px);
  .torless-page {
    &__header {
      .title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.6rem;
      }
    }
    &__list {
      .name {
        width: calc(100% / 2 - 50px);
      }
      .email {
        width: calc(100% / 2 - 50px);
        align-self: center;
        text-align: center;
      }

      .buttons {
        width: 50px;
        margin-right: auto;
      }
    }
  }
}
