.create-manager-component {

  .component-title {
    text-align: right;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 2.4rem;
    font-family: sans-serif;
    margin-top: 5.6rem;
  }

  .create-connection {
    max-width: none;
    min-width: 0;
    width: 100%;
    position: relative;
    margin: 0;
    display: inline-block;
    vertical-align: top;



    .create__big__area{

      line-height: 1.95;
      padding-right: 1rem;
      position: relative;

      span{
        position: relative;
      }

      span:after{

        content:'';
        position: absolute;
        right: -2rem;
        top:50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #ccc;

      }

    }

    .notice__second{
      margin-bottom: 2rem;

    }



    .notice {
      text-align: right;
      background: #ffffff;
      padding: 0.7rem 1.5rem;
      border: 4px solid #fff557;
      margin-bottom: 0rem;
      margin-top: 1.1rem;

      .create__big__area{
        color:#000;
        font-weight: 600;

        span{

          /*display: block;*/

        }
      }

      .bold {
        font-weight: 900;
        font-size: 1.4rem;
        line-height: 1;
        font-family: sans-serif;
        letter-spacing: -0.06rem;
      }


      .normal {
        color: #8f8f8f;
        font-size: 1.2rem;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
      }
    }
    .link {
      font-weight: 600;
      margin-top: 1.5rem;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 1.3rem;
    }
  }

  .component-content {
    .left-side-form {
      position: absolute;
      left: 0;
      top: 0;
    }

    .manager-details-form {
      max-width: 50%;
      width: 30rem;
      text-align: right;
      position: relative;
      float: right;
      right: 0;
      margin-top: 3.4rem;

      .form-label {
        text-align: right;
        margin-bottom: 2.5rem;
        font-weight: 700;
        font-size: 1.4rem;
      }
    }

  }


  .input-line {
    position: relative;
    margin-bottom: 5rem;
    width: 80%;
    text-align: right;
    align-self: flex-end;
    margin-left: auto;

    input {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 300;
      height: 2.7rem;
      font-size: 1.1rem;
      font-weight: 300;
      background: inherit;
    }
  }

  .submit-block {
    position: relative;
    margin-bottom: 40px;

    .description,
    .submit-button-container {
      width: 100%;
      align-self: flex-end;
    }

    .description {
      font-size: 0.8rem;
      margin-bottom: 10px;
    }

    .submit-button-container {
      button {
        width: 80%;
        height: 3.5rem;
        background: #fff557;
        margin-bottom: 10rem;
        font-weight: 900;
        font-size: 1.4rem;
        &:active {
          background: darken(#fff557, 10%)
        }
      }
      .repeat-button {
        position: absolute;
        cursor: pointer;
        right: -5rem;
        height: 44px;
        line-height: 44px;
        top: 0;
        user-select: none;
        color: #2f2f2f;
        span{
          font-size: 1.4rem;
          border-bottom: 1px solid #000;
        }
        span:hover {
          border-bottom: 1px solid #2f2f2f;
        }
      }

    }
  }

  .required:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff5b57;
    right: 0;
    bottom: 1px;
  }
  .required-top:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff5b57;
    right: 0;
    top: -5px;
  }
}
