<div class="term-conditions-component">

  <div class="term-conditions-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ligula euismod metus malesuada sodales. Etiam lobortis laoreet est ut rutrum. Nam interdum nibh nec arcu bibendum rhoncus ut id urna. Aliquam erat volutpat. Vestibulum non lacus et nisl congue tempor. Nulla viverra pulvinar vestibulum. Morbi pulvinar faucibus purus, vehicula cursus quam fringilla sed. Sed mauris ante, dictum vitae tempor id, bibendum sed eros.

    Nunc id ligula scelerisque, feugiat nibh quis, malesuada nisi. Fusce bibendum, neque id suscipit condimentum, dui augue imperdiet ex, et luctus nisi nunc feugiat quam. Suspendisse lectus velit, dictum eget metus ut, elementum vulputate lorem. Nam vehicula erat eget neque tempor bibendum. Proin sit amet massa id massa pulvinar vulputate vel ac leo. Praesent eu pulvinar velit. Nulla egestas vel nibh at efficitur. Duis suscipit mauris lectus, ac rutrum libero semper eu.

    Praesent fermentum enim in lacus malesuada gravida nec eget ligula. Morbi eu purus eu diam pretium pulvinar vitae id dolor. Maecenas pulvinar maximus varius. Cras vehicula feugiat rhoncus. Ut dignissim mi et nisi ullamcorper consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam pulvinar tellus id dui facilisis, at porta neque sagittis. Maecenas non erat tellus. Nulla tellus lectus, pulvinar nec semper in, blandit eget nunc. Maecenas pellentesque urna mi, ac dignissim augue convallis ut. Ut pretium interdum iaculis. Sed et metus ultricies, rutrum quam vitae, aliquet ipsum.
  </div>

</div>
