
.sms-confirm-component {
  width: 60%;
  max-width: 940px;
  margin: 10px auto;

  @media screen and (max-width: 760px) {
    width: 90%;
  }

  .component-center-element {
    width: 40%;
    margin: 0 auto;

    @media screen and (max-width: 940px) {
      width: 100%;
      max-width: 300px;
    }
  }

  .component-button-container {
    button {
      width: 100%;
      height: 44px;
      background: #fff557;
      font-size: 0.9rem;
      font-weight: 900;
      &:active {
        background: darken(#fff557, 10%)
      }
    }
    button[disabled] {
      cursor: not-allowed;
    }
  }

  .component-input {
    input {
      width: 100%;
      height: 34px;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .component-title {
    text-align: center;

    margin-bottom: 40px;

    .title-label {
      font-size: 1.4rem;
      font-weight: 800;
    }
    .title-description {
      font-size: 1.1rem;
    }
  }

  .sms-confirm-header {
    position: relative;
    display: flex;
    margin: 0 0 20px 0;



    .info {
      margin: 0 auto;
    }
  }

  .component-content {
    position: relative;

    @media screen and (max-width: 940px) {
      display: flex;
      flex-direction: column-reverse;
    }

    .register-container {
      position: absolute;
      width: 25%;
      margin: 0 auto;

      @media screen and (max-width: 940px) {
        position: relative;
        width: 100%;
        max-width: 300px;
      }

      .register-label {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 900;
        margin-bottom: 20px;
      }
    }

    .sms-confirm-container {
      @media screen and (max-width: 940px) {
        margin-bottom: 40px;
      }
      .sms-confirm-label {
        text-align: end;
        color: #484848;
        margin-bottom: 25px;
      }
      .sms-confirm-input-field {
        position: relative;
        margin-bottom: 40px;

        input {
          background: inherit;
        }

        .resend-sms {
          position: absolute;
          right: 0;
          bottom: -16px;
          cursor: pointer;
          font-size: 0.7rem;
          border-bottom: 1px solid #656565;
          user-select: none;
          &:hover {
            color: #000;
            border-bottom: 1px solid #000;
          }
        }

        .success-icon,
        .error-icon {
          display: inline-block;
          position: absolute;
          bottom: 5px;
          left: 5px;
        }
      }
      .button-container {
        button {

        }
      }
    }

  }
}
