<div class="removed-product-list-component">
  <div class="button back-button">
    <button (click)="goToCategoriesList()">חזרה לתפריט</button>
  </div>

  <div class="torless-page__header">
    <div class="title">רשימת מוצרים שהוסרו</div>
  </div>

  <div class="close hairline">

  </div>

  <div class="torless-page__list">
    <div class="element" *ngFor="let product of products;">

      <div class="dots">
        <img src="./assets/icon/more.svg">
      </div>

      <div class="name" *ngIf="!product.edit">
        <span>{{ product.prod_name || 'NA' }}</span>
      </div>

      <div class="image" *ngIf="product.prod_image && product.prod_image !== 'none'">
        <img [src]="product.prod_image">
      </div>

      <!--<div class="checkboxes">-->
        <!--<button class="check-element" (click)="emptyProduct(product)">-->
          <!--<img *ngIf="product.prod_type === -2" src="./assets/icon/enabled.svg">-->
          <!--<img *ngIf="product.prod_type !== -2" src="./assets/icon/disabled.svg">-->
          <!--<div>מוצר ריק</div>-->
        <!--</button>-->
        <!--<button class="check-element" (click)="fullProduct(product)">-->
          <!--<img *ngIf="product.prod_type === 1" src="./assets/icon/enabled.svg">-->
          <!--<img *ngIf="product.prod_type === -2" src="./assets/icon/disabled.svg">-->
          <!--<div>מוצר מלא</div>-->
        <!--</button>-->
      <!--</div>-->

      <div class="buttons">
        <button class="buttons__edit" (click)="editProduct(product)">
          <img src="./assets/icon/edit.svg">
          <div>מוצר עריכה</div>
        </button>
        <button class="buttons__remove" (click)="restoreProduct(product)">
          <img src="./assets/icon/trash.svg">
          <div>שחזור המוצר</div>
        </button>
      </div>
    </div>
    <div class="empty-list" *ngIf="products?.length === 0">
      הרשימה ריקה
    </div>
  </div>

</div>
