.select-component {
  position: relative;

  &>div {
    font-size: 1.1rem;
    background: inherit;
    font-weight: 500;
    color: #999999;
  }

  input {
    background: inherit;
    width: 100%;
    height: 2.7rem;
    line-height: 2.7rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #999999;
    padding-left: 10px;
  }

  &__triangle {
    position: absolute;
    bottom: 0;
    height: 2.7rem;
    line-height: 2.7rem;
    cursor: pointer;

    &:after {
      content: '\25bc';
      font-size: 0.6rem;
      color: #999999;

    }
  }

  &__close {
    position: absolute;
    bottom: 0;
    height: 2.7rem;
    line-height: 2.7rem;
    cursor: pointer;

    &:after {
      content: '\D7';
      font-size: 0.9rem;
      color: #999999;

    }
  }

  &__placeholder {
    position: absolute;
    height: 2.7rem;
    line-height: 2.7rem;
    width: 100%;
    top: 0;
    right: 0;
    vertical-align: middle;
    text-align: right;
    user-select: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: top 0.2s, font-size 0.2s;
    color: #999999;

    &.focused {
      top: -10px;
      right: 0;
      font-size: 0.7rem!important;
      height: auto;
      line-height: inherit;
    }
  }

  &__value {
    //position: absolute;
    height: 2.7rem;
    line-height: 2.7rem;
    width: 100%;
    //top: 0;
    //right: 0;
    vertical-align: middle;
    text-align: right;
    user-select: none;
    font-size: 1.1rem;
    transition: top 0.2s, font-size 0.2s;
    border-bottom: 1px solid #c8c8c8;
    font-weight: 500;
    color: #999999;

    &.focused {
      top: -16px;
      right: 0;
      font-size: 0.7rem;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 0;
    overflow: auto;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    border-radius: 3px;
    transition: max-height 0.2s;
    direction: rtl;

    .list-element {
      height: 2.7rem;
      line-height: 2.7rem;
      background: #fff;
      color: #999999;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.1rem;
      &:hover {
        background: #d0d5d5;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        padding: 0 9px;
      }
    }

    &.visible {
      max-height: calc(2.7rem * 6);
    }
  }


}
