
.login-component {

  .body-container {
    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 40px;
    width: 45%;
  }

  &__form {
    margin-bottom: 40px;
    width: 45%;
    @media screen and (max-width: 940px) {
      width: 100%;
    }
  }

  &__left-side {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    max-width: 270px;
    font-size: 0.8rem;
    text-align: center;
    .label {
      width: 80%;
      font-weight: 900;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 940px) {
      position: relative;
      margin: 0 auto 40px;
      width: 100%;
      max-width: 350px;
    }
  }

  // переименовать
  //.component-content {
  //  position: relative;
  //
  //  @media screen and (max-width: 940px) {
  //    display: flex;
  //    flex-direction: column-reverse;
  //  }
  //
  //
  //  // придумать имя переименовать а заетем вынести в отдельный файл
  //  .register-container {
  //    position: absolute;
  //    width: 25%;
  //    margin: 0 auto;
  //
  //    @media screen and (max-width: 940px) {
  //      position: relative;
  //      width: 100%;
  //      max-width: 300px;
  //    }
  //
  //    .register-label {
  //      text-align: center;
  //      font-size: 0.9rem;
  //      font-weight: 900;
  //      margin-bottom: 20px;
  //    }
  //  }
  //
  //  // придумать имя переименовать а заетем вынести в отдельный файл
  //  .login-container {
  //    @media screen and (max-width: 940px) {
  //      margin-bottom: 40px;
  //    }
  //    .login-label {
  //      text-align: end;
  //      color: #484848;
  //      margin-bottom: 25px;
  //    }
  //
  //    .button-container {
  //      button {
  //
  //      }
  //    }
  //  }
  //
  //}
}
