<div class="login-component">

  <div class="login__header__containtainer">
    <div class="login__header__left__part"></div>
    <div class="login-component__title" dir="rtl">
      ברוכים הבאים למערכת torLess להזמין    לשלם    ולדלג על התור

    </div>
  </div>


  <div class="body-container">

    <div class="login-component__left-side">
      <div class="label" dir="rtl">
        עדיין לא רשום/ה ל-torLess? הרשם/י עכשיו ותתחיל/י להרויח
      </div>

      <button class="torless-button" (click)="goToRegistration()">הרשם/י עכשיו</button>
    </div>

    <div class="login-component__form">
      <div class="label">
        :כבר איתנו? התחבר/י
      </div>
      <div class="input-line">
        <input name="n"
               type="text" appInput
               [(ngModel)]="user.us_log_email"
               [placeholderMessage]="'שם משתמש'"
               [error]="loginError"
               [message]="'שם משתמש לא קיים'" autocomplete="off" >
      </div>

      <div class="input-line">
        <span class="link top left" (click)="forgotPassword()">שכחתי סיסמה</span>
        <input name="p"
               type="password"
               autocomplete="off" autocorrect="off" autocapitalize="off"
               appInput
               [(ngModel)]="user.us_log_pass"
               [placeholderMessage]="'סיסמה'"
               [error]="loginError"
               [message]="'אולי טעיתם פה?'" />
      </div>

      <button class="torless-button" (click)="login(user)" [disabled]="submitButtonDisabled(user) && !invalidForm">התחבר/י</button>
    </div>
  </div>
</div>
