<div class="login-component">

  <div class="login__header__containtainer">
    <div class="login__header__left__part"></div>
    <div class="login-component__title">
        torLess ברוכים הבאים למערכת
           להזמין * לשלם * ולדלג על התור
    </div>
  </div>


  <div class="body-container">

    <div class="login-component__left-side">
      <div class="label">
        ?torLess ברוכים הבאים למערכת
           להזמין * לשלם * ולדלג על התור
      </div>

      <button class="torless-button" (click)="goToRegistration()">הרשם/י עכשיו</button>
    </div>

    <div class="login-component__form">
      <div class="label">
        :כבר איתנו? התחבר/י
      </div>
      <div class="input-line">
        <input type="text" appInput
               [(ngModel)]="user.us_log_email"
               [placeholderMessage]="'שם משתמש'"
               [error]="loginError"
               [message]="'שם משתמש לא קיים'">
      </div>

      <div class="input-line">
        <span class="link top left" (click)="forgotPassword()">שכחתי סיסמה</span>
        <input type="password" appInput
               [(ngModel)]="user.us_log_pass"
               [placeholderMessage]="'סיסמה'"
               [error]="loginError"
               [message]="'אולי טעיתם פה?'">
      </div>
      <!--<app-input type="text"-->
                 <!--placeholder="שם משתמש"-->
                 <!--errorText="שם משתמש לא קיים"-->
                 <!--[showError]="loginError"-->
                 <!--[(model)]="user.us_log_email"-->
                 <!--(output)="user.us_log_email = $event"-->
                 <!--(invalid)="invalidForm = $event">-->
      <!--</app-input>-->

      <!--<app-input type="password"-->
                 <!--placeholder="סיסמה"-->
                 <!--errorText="אולי טעיתם פה?"-->
                 <!--[showError]="loginError"-->
                 <!--[(model)]="user.us_log_pass"-->
                 <!--[showLink]="true"-->
                 <!--linkText="שכחתי סיסמה"-->
                 <!--linkPosition="top-left"-->
                 <!--(linkAction)="forgotPassword()"-->
                 <!--(output)="user.us_log_pass = $event"-->
                 <!--(invalid)="invalidForm = $event">-->
      <!--</app-input>-->

      <button class="torless-button" (click)="login(user)" [disabled]="submitButtonDisabled(user) && !invalidForm">התחבר/י</button>
    </div>
  </div>
</div>
