.progress-bar {
  position: relative;
  height: 2px;
  background: #c8c8c8;
  width: 100%;
  margin-left: auto;
  margin-bottom: 40px;
  .background-container {
    position: absolute;
    height: 2px;
    right: 0;
    width: 0;
    background: #fff557;
    transition: width 0.5s;
  }

  .point {
    position: absolute;
    display: inline-block;
    bottom: -5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #c8c8c8;
    &.filled {
      background: #fff557;
    }
  }

}
