<div class="registration-component">
  <div class="registration-header">
    <div class="label">הרשמה</div>
    <div class="description">תהליך הקמה חד פעמי ומתחילים להרוויח</div>
  </div>

  <div class="registration-content">
    <div class="create-connection">

      <div class="notice">
        <div class="bold">תהליך ההרשמה לתורלס הוא</div>
        <div class="bold">.חד פעמי</div>
        <div class="normal">בעתיד, תוכלו לבצע עידכונים ושינויים בכל הבחירות שבצעתם</div>
      </div>
      <div class="link" (click)="contactUsModal()">
        לעזרה - צרו קשר
      </div>
    </div>

    <div class="registration-block">
      <div class="business-details">
        <div class="label">
          פרטי העסק
        </div>
        <div class="upload__image__container">
          <input type="file" (change)="openFileUploader(fileUploader)" accept="image/jpeg,image/png,image/jpg" data-max-size="1024" #fileUploader>
          <div class="upload__image__text">
            <div>
              הלוגו יופיע בכל פרסומי הקפיטריה, <br>
              על כן, אנחנו ממליצים לצרף קובץ איכותי<br>
            </div>
            <div>
              מידת              הלוגו         <span style="display: inline-block; margin-right: 5px;">150X150</span>     פיקסלים<br>
              בפורמט  <span style="display: inline-block; margin-right: 5px;">JPG / PNG</span>
            </div>

            <div class="upload__image__text__links" *ngIf="uploadedImage">
              <div (click)="fileUploader.click()">שנה תמונה</div>
              <div (click)="deleteImage()">למחוק תמונה</div>
            </div>
          </div>


          <div class="upload__image__btn">
            <div class="upload__image__btn__inner" *ngIf="!uploadedImage" (click)="fileUploader.click()">
              <div class="upload__image__btn__text">הוסיפו את לוגו הרשת</div>
            </div>
            <img [src]="uploadedImage" *ngIf="uploadedImage">
          </div>

        </div>

        <div class="input-line required">
          <!--<span>company name</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_name" [placeholderMessage]="'שם חברה'" [error]="registrationError" >
        </div>
        <div class="input-line required">
         <!--<span> VAT number</span>-->
          <input dir="rtl" type="number" appInput [(ngModel)]="createdUser.company.comapny_vat_number" [placeholderMessage]="'מס’ ח”פ'" [message]="'ח”פ לא תקין'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <!--<span>address</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_address" [placeholderMessage]="'כתובת'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <!--<span>city</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_city" [placeholderMessage]="'עיר'" [error]="registrationError">
        </div>
        <!--<div class="input-line">-->
          <!--&lt;!&ndash;<span>post code</span>&ndash;&gt;-->
          <!--<input type="text" appInput [(ngModel)]="createdUser.company.comapny_zip_code" [placeholderMessage]="'מיקוד'" [error]="registrationError">-->
        <!--</div>-->
      </div>

      <div class="chief-account-details">
        <div class="label">
        <div class="information-container">
          <app-information hintText="לכל רשת סניפים, יש מנהל חשבון ראשי בתורלס. פרטיו של המנהל הראשי מוזנים פה. הפרטים ניתנים לשינוי בכל עת. בנוסף, לכל סניף שתפתחו במערכת, יהיה מנהל משלו ופרטיו מוזנים בעת פתיחת הסניף" hintPosition="top center" elementVerticalPosition="top" elementHorizontalPosition="left" iconColor="#ff5b57"></app-information>
        </div>
          פרטי מנהל/ת החשבון הראשי
        </div>

        <div class="input-line required">
          <!--<span>first name</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.user.us_name" [placeholderMessage]="'שם פרטי'" [error]="registrationError" >
        </div>
        <div class="input-line required">
          <!--<span>last name</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.user.us_last_name" [placeholderMessage]="'שם משפחה'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <!--<span>id number</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.user.us_passport_id" [placeholderMessage]="'מס’ תעודת זהות'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <!--<span>role</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.user.us_position" [placeholderMessage]="'תפקיד'" [error]="registrationError" >
        </div>
        <div class="input-line required">
          <!--<span>email</span>-->
          <input type="email" appInput [(ngModel)]="createdUser.user.us_email" (blur)="checkEmail(createdUser.user.us_email)" [placeholderMessage]="'אימייל'" [error]="formErrors.emailField" [message]="formErrorMessages.email" >
        </div>
        <div class="input-line required">
          <!--<span>phone</span>-->
          <input type="text" appInput [(ngModel)]="createdUser.user.us_phone" (keyup)="createdUser.user.us_phone = phoneFormatter(createdUser.user.us_phone)" [placeholderMessage]="'מספר טלפון נייד'" [error]="registrationError" >
        </div>
      </div>

      <div class="securing">
        <div class="label">
          אבטחה
        </div>

        <div class="input-line required">
          <!--<span>password</span>-->
          <input type="password" appInput [(ngModel)]="createdUser.user.us_pass" [placeholderMessage]="'סיסמה'" (blur)="isPasswordValid(createdUser.user.us_pass, 'passwordField'); isPasswordConfirm(createdUser.user.us_pass, confirmedPassword);" [error]="formErrors.passwordField" [message]="formErrorMessages.password" >
        </div>

        <div class="input-line required">
          <!--username-->
          <input type="password" appInput [(ngModel)]="confirmedPassword" [placeholderMessage]="'הקלידו ססמה מחדש'" (blur)="isPasswordValid(confirmedPassword, 'confirmPasswordField'); isPasswordConfirm(createdUser.user.us_pass, confirmedPassword);" [error]="formErrors.confirmPasswordField" [message]="formErrorMessages.password" >
        </div>

      </div>

      <div class="submit-block">
        <div dir="rtl" class="description">
          <span>בלחיצה, אני מסכים/ה</span>
          <span (click)="termsAndConditions()" class="link">לתנאי השימוש</span>
          <span (click)="termsAndConditions()" class="link">ולתקנון</span>
          <span>תורלס</span>

        </div>
        <div class="submit-button-container">
          <!--<button (click)="registerUser(createdUser)">-->
          <button (click)="registerUser(createdUser)" [disabled]="isButtonDisabled(createdUser.user, createdUser.company)">
            <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
            <span *ngIf="!showSpinner">הרשמו</span>
          <!--</button>-->
          </button>
        </div>
      </div>
    </div>


  </div>
</div>
