<div class="registration-component">
  <div class="registration-header">
    <div class="label">הרשמה</div>
    <div class="description">צ’יק צ’אק ואנחנו מתחילים לעבוד ביחד ולהרוויח. רק מלא/י כמ</div>
  </div>

  <div class="registration-content">
    <div class="create-connection">

      <div class="notice">
        <div class="bold">תהליך ההרשמה לתורלס הוא</div>
        <div class="bold">.חד פעמי</div>
        <div class="normal">בעתיד, תוכל/י לבצע עידכונים וש</div>
      </div>
      <div class="link" (click)="contactUsModal()">
        לעזרה - צור/י קשר
      </div>
    </div>

    <div class="registration-block">
      <div class="business-details">
        <div class="label">
          פרטי העסק
        </div>
        <div class="upload__image__container">
          <input type="file" (change)="openFileUploader(fileUploader)" accept="image/jpeg,image/png,image/jpg" data-max-size="1024" #fileUploader>
          <div class="upload__image__text">
            <div>
              הלוגו יופיע בכל פרסומי הקפיטריה, <br>
              על כן, אנחנו ממליצים לצרף קובץ איכותי<br>
            </div>
            <div>
              מידת הלוגו 150X150 פיקסלים<br>
              בפורמט  JPG / PNG
            </div>

            <div class="upload__image__text__links" *ngIf="uploadedImage">
              <div (click)="fileUploader.click()">שנה תמונה</div>
              <div (click)="deleteImage()">למחוק תמונה</div>
            </div>
          </div>


          <div class="upload__image__btn">
            <div class="upload__image__btn__inner" *ngIf="!uploadedImage" (click)="fileUploader.click()">
              <div class="upload__image__btn__text">הוסף/י לוגו לרשת</div>
            </div>
            <img [src]="uploadedImage" *ngIf="uploadedImage">
          </div>

        </div>

        <div class="input-line required">
          <span>company name</span>
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_name" [placeholderMessage]="'שם חברה'" [error]="registrationError" >
        </div>
        <div class="input-line required">
         <span> VAT number</span>
          <input dir="rtl" type="number" appInput [(ngModel)]="createdUser.company.comapny_vat_number" [placeholderMessage]="'מס’ ח”פ'" [message]="'ח”פ לא תקין'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <span>address</span>
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_address" [placeholderMessage]="'כתובת'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <span>city</span>
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_city" [placeholderMessage]="'עיר'" [error]="registrationError">
        </div>
        <div class="input-line">
          <span>post code</span>
          <input type="text" appInput [(ngModel)]="createdUser.company.comapny_zip_code" [placeholderMessage]="'מיקוד'" [error]="registrationError">
        </div>
      </div>

      <div class="chief-account-details">
        <div class="label">
        <div class="information-container">
          <app-information [hintText]="'פרטי מנהל/ת החשבון הראשי'" hintPosition="top center" elementVerticalPosition="top" elementHorizontalPosition="left" iconColor="#ff5b57"></app-information>
        </div>
          פרטי מנהל/ת החשבון הראשי
        </div>

        <div class="input-line required">
          <span>first name</span>
          <input type="text" appInput [(ngModel)]="createdUser.user.us_name" [placeholderMessage]="'שם פרטי'" [error]="registrationError" >
        </div>
        <div class="input-line required">
          <span>last name</span>
          <input type="text" appInput [(ngModel)]="createdUser.user.us_last_name" [placeholderMessage]="'שם משפחה'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <span>id number</span>
          <input type="text" appInput [(ngModel)]="createdUser.user.us_passport_id" [placeholderMessage]="'מס’ תעודת זהות'" [error]="registrationError">
        </div>
        <div class="input-line required">
          <span>role</span>
          <input type="text" appInput [(ngModel)]="createdUser.user.us_position" [placeholderMessage]="'תפקיד'" [error]="registrationError" >
        </div>
        <div class="input-line required">
          <span>email</span>
          <input type="text" appInput [(ngModel)]="createdUser.user.us_email" (blur)="checkEmail(createdUser.user.us_email)" [placeholderMessage]="'אימייל'" [error]="formErrors.emailField" [message]="formErrorMessages.email" >
        </div>
        <div class="input-line required">
          <span>phone</span>
          <input type="text" appInput [(ngModel)]="createdUser.user.us_phone" [placeholderMessage]="'מספר טלפון נייד'" [error]="registrationError">
        </div>
      </div>

      <div class="securing">
        <div class="label">
          אבטחה
        </div>

        <div class="input-line required">
          <span>password</span>
          <input type="password" appInput [(ngModel)]="createdUser.user.us_pass" [placeholderMessage]="'סיסמה'" [error]="confirmPasswordError" [message]="'passwords do not match'" (blur)="passwordsCheck(createdUser.user.us_pass, confirmedPassword)">
        </div>

        <div class="input-line required">
          <!--username-->
          <input type="password" appInput [(ngModel)]="confirmedPassword" [placeholderMessage]="'שם משתמש'" [error]="confirmPasswordError" [message]="'passwords do not match'" (blur)="passwordsCheck(createdUser.user.us_pass, confirmedPassword)">
        </div>

      </div>

      <div class="submit-block">
        <div dir="rtl" class="description">
          <span>בלחיצה, אני מסכים/ה</span>
          <span (click)="termsAndConditions()" class="link">לתנאי השימוש</span>
          <span (click)="termsAndConditions()" class="link">ולתקנון</span>
          <span>תורלס</span>




        </div>
        <div class="submit-button-container">
          <button (click)="registerUser(createdUser)" [disabled]="isButtonDisabled(createdUser.user)">הרשם/י</button>
        </div>
      </div>
    </div>


  </div>
</div>
