.product-list-component {
  div>div{
        margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .header,
  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .button {
      text-align: left;

      width: 22rem;
      button {
        width: 100%;
        max-width: 275px;
        height: 44px;
        background: #000;
        color: grey;
        //background: #fff557;
        font-size:1.2rem;
        font-weight: 900;
        &:active {
          background: lighten(#000, 10%);
        }
      }
    }

    .title {
      font-weight: 900;
      text-align: right;
      align-self: flex-end;
      font-size: 1.9rem;
      font-family: sans-serif;
    }
  }

  .button.back-button {
    text-align: right;
    margin-bottom: 1.7rem;
    button {
      width: 100%;
      max-width: 275px;
      height: 44px;
      background: #fff557;
      color: grey;
      font-size: 1.3rem;
      font-weight: 900;
      &:active,
      &:hover {
        background: #c2ba37;
      }
    }
  }

  .torless-page__list{
    .element {
      .image {
        margin: 0;
        margin-right: 30px;
        height: 60px;
        align-self: center;
        img {
          height: 100%;
        }
      }

      .checkboxes {
        margin: 0;
        margin-right: auto;
        .check-element {
          margin-right: 25px;
          padding: 0;
          background: inherit;
          cursor: pointer;
          color: grey;

          img {
            width: 25px;
            height: 25px;
          }

          div {
            width: 32px;
            text-align: center;
            font-size: 14px;
          }
        }

      }

      .buttons {
        text-align: left;
        user-select: none;
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        width: 260px;

        &__edit,
        &__remove {
          color: grey;
          cursor: pointer;
          background: inherit;

          img {
            width: 25px;
            height: 25px;
          }

          div {
            width: 32px;
            text-align: center;
            font-size: 14px;
          }
        }
      }

    }
    .empty-list {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      color: grey;
      text-align: center;
    }
  }
}
