<div class="product-list-component">
  <div class="button back-button">
    <button (click)="goToCategoriesList()">חזרה לתפריט</button>
  </div>

  <div  class="button back-button">
    <!--<div (click)="goToCafeteriasList()">go to cafeterias list</div>-->
    <button (click)="goToRemovedProductList()">רשימת מוצרים שהוסרו</button>
  </div>

  <div class="torless-page__header">
    <button (click)="goToAddProductPage()" class="torless-page__add-new-element">
      <span class="plus">+</span>
      <span class="text">הוסף מוצר</span>
    </button>
    <div class="title">רשימת מוצרים</div>
  </div>

  <div class="torless-page__list">
    <div class="element" *ngFor="let product of products;" >
      <div class="dots">
        <img src="./assets/icon/more.svg">
      </div>
      <div class="name" *ngIf="!product.edit">
        <span>{{ product.prod_name || 'NA' }}</span>
      </div>

      <div class="image">
        <img src="./assets/icon/product-example.png">
      </div>

      <div class="checkboxes">
        <button class="check-element" (click)="emptyProduct(product)">
          <img *ngIf="product.prod_type === -2" src="./assets/icon/enabled.svg">
          <img *ngIf="product.prod_type !== -2" src="./assets/icon/disabled.svg">
          <div>מוצר ריק</div>
        </button>
        <button class="check-element" (click)="fullProduct(product)">
          <img *ngIf="product.prod_type === 1" src="./assets/icon/enabled.svg">
          <img *ngIf="product.prod_type === -2" src="./assets/icon/disabled.svg">
          <div>מוצר מלא</div>
        </button>
        <!--<span class="check-element" [ngClass]="{'active': product.prod_type === -2, 'disabled': product.prod_type !== -2}" (click)="emptyProduct(product)"></span>-->
        <!--<span class="check-element" [ngClass]="{'active': product.prod_type === 1, 'disabled': product.prod_type === -2}" (click)="fullProduct(product)"></span>-->
      </div>

      <div class="buttons">
        <button class="buttons__edit" (click)="editProduct(product)">
          <img src="./assets/icon/edit.svg">
          <div>מוצר עריכה</div>
        </button>
        <button class="buttons__remove" (click)="removeProduct(product)">
          <img src="./assets/icon/trash.svg">
          <div>למחוק מוצר</div>
        </button>
      </div>
    </div>
  </div>

  <div class="torless-page__footer" *ngIf="products?.length > 4">
    <button (click)="goToAddProductPage()" class="torless-page__add-new-element">
      <span class="plus">+</span>
      <span class="text">הוסף מוצר</span>
    </button>
  </div>
</div>
