<div class="input-component">
  <div class="input-component__placeholder" (click)="fieldFocus($event.target, true)">
    {{ placeholder }}
  </div>

  <textarea dir="rtl" [(ngModel)]="model" (ngModelChange)="modelChanged(model)" (blur)="inputBlur(model)"></textarea>

  <div class="input-component__error-message" [ngClass]="{'visible': showError}">
    {{ errorText }}
  </div>

  <div *ngIf="showLink" class="input-component__input-link"
       [ngClass]="{
        'top-left': linkPosition === 'top-left',
        'bottom-right': linkPosition === 'bottom-right',
        'bottom-left': linkPosition === 'bottom-left'
        }"
       (click)="inputLinkClick()">
    {{ linkText }}
  </div>

</div>
