.input-component {
  position: relative;
  margin-bottom: 3.6rem;
  height: 4rem;
  margin-top: 2rem;
  textarea {
    background: inherit;
    width: 100%;
    height: 4rem;
    font-size: 1.1rem;
    font-weight: 300;
    resize: none;
  }

  &__placeholder {
    position: absolute;
    height: 100%;
    line-height: 4rem;
    font-size: 1.5rem;
    width: 100%;
    top: 0;
    right: 0;
    vertical-align: middle;
    text-align: right;
    user-select: none;
    transition: top 0.2s, font-size 0.2s;
    color: #a2a2a2;

    &.focused {
      top: -16px;
      right: 0;
      font-size: 0.7rem;
    }
  }

  &__error-message {
    position: absolute;
    right: 0;
    font-size: 0;
    color: #ff5b57;
    user-select: none;
    transition: font-size 0.25s;
    &.visible {
      font-size: 0.8rem;
    }
  }

  &__input-link {
    position: absolute;
    font-size: .7rem;
    user-select: none;
    cursor: pointer;
    &.top-left {
      top: -16px;
      left: 0;
    }
    &.bottom-right {
      bottom: -16px;
      right: 0;
    }
    &.bottom-left {
      bottom: -16px;
      left: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .forgot-password {
    position: absolute;
    left: 0;
    top: -16px;
    cursor: pointer;
    font-size: 0.7rem;
    border-bottom: 1px solid #656565;
    &:hover {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}
.input-line .app-input-placeholder{
  font-size: 1.2rem;
}
// input-directive styles
//.app-input-placeholder {
//
//}
//.app-input-placeholder.focused {
//  top: -16px;
//  right: 0;
//  font-size: 0.7rem;
//}
//.app-input-error-message {
//  position: absolute;
//  right: 0;
//  font-size: 0.8rem;
//  color: #ff5b57;
//  user-select: none;
//}
