<div class="torless-modal select-cafeteria-modal">
  <div class="torless-modal__header">
    <div class="text">
      בחר בקפיטריה
    </div>
    <div class="close-button" (click)="close()"></div>
  </div>

  <div class="torless-modal__body">
    <div class="list" *ngIf="cafeterias?.length > 0">
      >
      <div class="list-element" *ngFor="let cafeteria of cafeterias" (click)="selectCafeteria(cafeteria)" [ngClass]="{'selected': cafeteria.id === selectedCafeteria?.id}">
        {{ cafeteria.caf_name }}
      </div>
    </div>
    <div class="list" *ngIf="cafeterias?.length === 0">
      <div class="list-element">
        ללא קפטריות
      </div>
    </div>
    <div class="spinner-container">
      <app-loading-spinner *ngIf="!cafeterias?.length && cafeterias?.length !== 0"></app-loading-spinner>
    </div>
  </div>

  <div class="torless-modal__footer">
    <button class="response-button" (click)="submit()" [disabled]="!selectedCafeteria">
      לשלוח
    </button>
    <div class="reject-button" (click)="close()">
      לִדחוֹת
    </div>
  </div>
</div>
