.product-list-component {
  position: relative;
  width: 60%;
  max-width: 940px;
  margin: 10px auto;

  @media screen and (max-width: 760px) {
    width: 90%;
  }

  .header,
  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .button {
      text-align: left;
      button {
        width: 100%;
        max-width: 300px;
        height: 44px;
        background: #000;
        color: grey;
        //background: #fff557;
        font-size: 0.9rem;
        font-weight: 900;
        &:active {
          background: lighten(#000, 10%);
        }
      }
    }

    .title {
      font-size: 1.3rem;
      font-weight: 900;
      text-align: right;
      align-self: flex-end;
    }
  }

  .button.back-button {
    text-align: right;
    button {
      width: 100%;
      max-width: 120px;
      height: 44px;
      background: #fff557;
      color: grey;
      font-size: 0.9rem;
      font-weight: 900;
      &:active {
        background: lighten(#fff557, 10%);
      }
    }
  }

  .products {
    .product {
      display: flex;
      flex-direction: row-reverse;

      background: #fff;
      padding: 20px;
      text-align: right;
      margin-bottom: 20px;
      .name {
        width: 35%;
        height: 34px;
        line-height: 34px;
      }

      .input-line {
        width: 35%;
        position: relative;
        align-self: flex-end;

        input {
          width: 90%;
          height: 34px;
          font-size: 1.1rem;
          font-weight: 300;
          background: inherit;
        }
      }

      .images {
        margin-right: auto;
        align-self: center;
        .check-element {
          display: inline-block;
          &:after {
            content: '\2713';
            left: calc(50% - 10px);
            bottom: 20px;
            color: grey;
          }
        }
      }

      .buttons {
        width: 25%;
        text-align: left;
        margin-right: auto;
        user-select: none;
        align-self: center;
        span {
          color: grey;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: darken(grey, 10%);
          }
        }
      }
    }
  }
}
