<div class="create-cafeteria-component">
  <div class="component-title">
    הקמת סניף
  </div>

  <div style="width: 40%; margin-left: auto;">
    <app-progress-bar  [width]="(100/3)*2" [dots]="3"></app-progress-bar>
  </div>


  <div class="component-content">
    <div class="left-side-form">
      <!-- test -->

      <div class="create-connection">
        <div class="notice">
          <div class="bold">תהליך ההרשמה לתורלס הוא</div>
          <div class="bold">.חד פעמי</div>
          <div class="normal">בעתיד, תוכל/י לבצע עידכונים וש</div>
        </div>

          <div class="notice notice__second">
            <div class="bold">נא הכינו את המידע הנ”ל:</div>

            <div class="normal create__big__area">

              <span>רשימת קטגוריות המוצרים </span><br><span>שמות כל המוצרים</span><br><span>תיאור מפורט של כל המוצרים</span></div>

          </div>

        <div class="link">
          לעזרה - צור/י קשר
        </div>
      </div>

    </div>

    <div class="cafeteria-details-form">
      <!--cafeteria details-->
      <div class="form-label">
        פרטי הקפיטריה
      </div>

      <div class="input-line required">
        <input type="text" appInput [(ngModel)]="createdCafeteria.cafeteria.caf_name" [placeholderMessage]="'שם חברה'">
      </div>

      <div class="input-line required">
        <input type="text" appInput [(ngModel)]="createdCafeteria.cafeteria.caf_address" [placeholderMessage]="'כתובת'">
      </div>

      <div class="select-line required">
        <app-select [list]="universities" [value]="getBy(universities, createdCafeteria.cafeteria.caf_university_id, 'university_id', 'university_name')" key="university_name" [placeholder]="'בנייני האוניברסיטה'" (setItem)="selectUniversity($event)"></app-select>
      </div>

      <div class="select-line required">
        <app-select [list]="universityBuildings" [value]="getBy(universityBuildings, createdCafeteria.cafeteria.caf_university_building_id, 'building_id', 'building_name')" key="building_name" [placeholder]="'בנייני האוניברסיטה'" (setItem)="selectCafeteriaBuilding($event)"></app-select>
      </div>

      <div class="select-line required">
        <app-select [list]="kosherTypes" key="name" [value]="getBy(kosherTypes, createdCafeteria.cafeteria.caf_kosher_type, 'id', 'name')" [placeholder]="'כשרות'" (setItem)="selectKosherType($event)"></app-select>
      </div>

      <div class="radio-line">
        <div class="radio-button-element">
          <!-- not vegeterian -->
          <span class="button-description">
           אין מאכלים צמחוניים
          </span>
          <!--<input type="radio"  name="sex" >Female-->

          <input type="radio" [(ngModel)]="createdCafeteria.cafeteria.caf_veg_type" [value]="0">
        </div>

        <div class="radio-button-element">
          <!-- vegeterian -->
          <span class="button-description">
            יש מנות צמחוניות
          </span>
          <input type="radio" [(ngModel)]="createdCafeteria.cafeteria.caf_veg_type" [value]="1">
          <!--<input type="radio">-->
        </div>
      </div>

      <div class="days-of-branch-activity">
        <div class="label">
          ימי פעילות הסניף
        </div>
        <div class="days required-top">
          <div class="day">
            <div class="time" *ngIf="showTimeText(1)">
              {{ getTimeByDayNumber(1) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(1, $event)" [ngClass]="{'selected': showTimeText(1)}">א</div>
          </div>
          <div class="day">
            <div class="time" *ngIf="showTimeText(2)">
              {{ getTimeByDayNumber(2) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(2, $event)" [ngClass]="{'selected': showTimeText(2)}">ב</div>
          </div>
          <div class="day">
            <div class="time" *ngIf="showTimeText(3)">
              {{ getTimeByDayNumber(3) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(3, $event)" [ngClass]="{'selected': showTimeText(3)}">ג</div>
          </div>
          <div class="day">
            <div class="time" *ngIf="showTimeText(4)">
              {{ getTimeByDayNumber(4) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(4, $event)" [ngClass]="{'selected': showTimeText(4)}">ד</div>
          </div>
          <div class="day">
            <div class="time" *ngIf="showTimeText(5)">
              {{ getTimeByDayNumber(5) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(5, $event)" [ngClass]="{'selected': showTimeText(5)}">ה</div>
          </div>
          <div class="day">
            <div class="time" *ngIf="showTimeText(6)">
              {{ getTimeByDayNumber(6) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(6, $event)" [ngClass]="{'selected': showTimeText(6)}">ו</div>
          </div>
          <div class="day">
            <div class="time" *ngIf="showTimeText(7)">
              {{ getTimeByDayNumber(7) }}
            </div>
            <div class="icon" (click)="showTimeSelectModal(7, $event)" [ngClass]="{'selected': showTimeText(7)}">ש</div>
          </div>
        </div>
      </div>

      <div class="textarea-line">
        <textarea appInput [(ngModel)]="createdCafeteria.cafeteria.caf_description" [placeholderMessage]="'את התיאור'"></textarea>
      </div>

      <div style="clear:both;"></div>

      <div class="upload__image__container">
        <input type="file" (change)="openFileUploader(fileUploader)" accept="image/jpeg,image/png,image/jpg" data-max-size="1024" #fileUploader>
        <div class="upload__image__text">
          <div>
            הלוגו יופיע בכל פרסומי הקפיטריה, <br>
            על כן, אנחנו ממליצים לצרף קובץ איכותי<br>
          </div>
          <div>
            מידת הלוגו 150X150 פיקסלים<br>
            בפורמט JPG / PNG
          </div>

          <div class="upload__image__text__links" *ngIf="uploadedImage">
            <div (click)="fileUploader.click()">שנה תמונה</div>
            <div (click)="deleteImage()">למחוק תמונה</div>
          </div>
        </div>
        <div class="upload__image__btn">
          <div class="upload__image__btn__inner" *ngIf="!uploadedImage" (click)="fileUploader.click()">
            <div class="upload__image__btn__text">הוסף/י לוגו לרשת</div>
          </div>
          <img [src]="uploadedImage" *ngIf="uploadedImage">
        </div>

      </div>

      <div class="submit-block">
        <div class="submit-button-container">
          <button (click)="createCafeteria(createdCafeteria)">הרשם/י</button>
          <div class="repeat-button">
            <span (click)="goBack()">חזור/י</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
