<div class="cafeteria-type-component">
  <div class="component-title">
 הקמת סניף
  </div>
  <div style="width: 40%; margin-left: auto;">
    <app-progress-bar [width]="100/3" [dots]="3"></app-progress-bar>
  </div>

    <div class="activity-types-block__title">מה תחום פעילות הסניף?</div>

  <div class="activity-types-block">

    <!-- cafeteria -->
    <div class="activity-block" (click)="selectElement(1)" [ngClass]="{'checked': selectedCafeteriaType === 1}">
      <div class="text">
        קפיטריה
      </div>
      <div class="check-icon" *ngIf="selectedCafeteriaType === 1">
        <img src="./assets/icon/checked.svg">
      </div>
    </div>
    <!-- salad-bar -->
    <div class="activity-block" (click)="selectElement(2)" [ngClass]="{'checked': selectedCafeteriaType === 2}">
      <div class="text">
        סלט-בר
      </div>
      <div class="check-icon" *ngIf="selectedCafeteriaType === 2">
        <img src="./assets/icon/checked.svg">
      </div>
    </div>
    <!-- manza -->
    <div class="activity-block" (click)="selectElement(3)" [ngClass]="{'checked': selectedCafeteriaType === 3}">
      <div class="text">
        מנזה
      </div>
      <div class="check-icon" *ngIf="selectedCafeteriaType === 3">
        <img src="./assets/icon/checked.svg">
      </div>
    </div>
  </div>
  <div class="duplication-options" *ngIf="selectedCafeteriaType && cafeterias?.length > 0">
    <app-select [list]="cafeterias" key="caf_name" [placeholder]="'סוג הקפטריה'" (setItem)="selectCafeteria($event)"></app-select>
  </div>

  <div class="button-container">
    <button [disabled]="!selectedCafeteriaType" (click)="submitCafeteriaType(selectedCafeteriaType)">
      שמור/י והמשך/י
    </button>
  </div>
</div>
