/* You can add global styles to this file, and also import other style files */
body {
  background: #e9e9e9;
  margin: 0;
}
textarea,
input {
  box-sizing:border-box;
  text-align: right;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  outline: none;
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}
button {
  border: none;
  cursor: pointer;
  &:hover {
    border: none;
  }
  &:active {
    border: none;
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}

// input-directive styles
.app-input-placeholder {
  position: absolute;
  top: 7px;
  right: 0;
  //z-index: -1;
  user-select: none;
  font-size: 1rem;
  transition: top 0.2s, font-size 0.2s;
  color: #a2a2a2;
}
.app-input-placeholder.focused {
  top: -16px;
  right: 0;
  font-size: 0.7rem;
}
.app-input-error-message {
  position: absolute;
  right: 0;
  //z-index: -1;
  font-size: 0.8rem;
  color: #ff5b57;
  user-select: none;
}

// attributes
[danger] {
  color: #ff5b57;
}
[bold] {
  font-weight: 900;
}
