<div class="add-product-component container">

  <div class="component-header">
    <div class="button-container">
      <button class="torless-button" (click)="goBack()">חזרה לקטגוריות</button>
    </div>
    <div class="text-container">
      הוסף מוצר
    </div>
  </div>

  <div class="component-body">
    <div class="new-product">
      <div class="name-line">
        <div class="input-line required">
          <input type="text" appInput [(ngModel)]="createdProduct.product.pr_name" [placeholderMessage]="'product name'">
        </div>
        <div class="check-elements">
        <div class="chech__cont">
          <span class="check-element"></span>
          <span>check<br>item</span>
        </div>
        <div class="chech__cont">
          <span class="check-element"></span>
          <span>check<br>item</span>
          </div>
        </div>


      </div>

      <div class="border-bottom"></div>

      <div class="input-line required">
        <input type="text" appInput [(ngModel)]="createdProduct.product.pr_descr" [placeholderMessage]="'product details'">
      </div>

      <div class="input-line required">
        <input type="number" dir="rtl" appInput [(ngModel)]="createdProduct.product.pr_price" [placeholderMessage]="'product price'">
      </div>

      <div class="cook-time">
        <div class="label required">
          <span>דקות ליצירת המוצר</span>
          <span>
            <app-information [hintText]="'some text'" hintPosition="top center" color="#ff5b57"></app-information>
          </span>
        </div>
        <div class="minute" *ngFor="let minute of minutes; let index = index;"
             [ngClass]="{'selected': createdProduct.product.pr_cook_time === ''+ index }"
             (click)="selectCookTime(index)">
          {{ index }}
        </div>
      </div>

      <div class="radio-elements required">
        <div class="radio-element">
          <label class="text" for="_1">text</label>
          <input type="radio" id="_1">
        </div>
        <div class="radio-element">
          <label class="text" for="_2">text</label>
          <input type="radio" id="_2">
        </div>
        <div class="radio-element">
          <label class="text" for="_3">text</label>
          <input type="radio" id="_3">
        </div>
        <div class="radio-element">
          <label class="text" for="_4">text</label>
          <input type="radio" id="_4">
        </div>
        <div class="radio-element">
          <label class="text" for="_5">text</label>
          <input type="radio" id="_5">
        </div>
      </div>

      <div class="upload-image">
        <input type="file" (change)="openFileUploader(fileUploader)" accept="image/jpeg,image/png,image/jpg" data-max-size="1024" #fileUploader>
        <div class="upload-image__text">
          <div>
            הלוגו יופיע בכל פרסומי הקפיטריה, <br>
            על כן, אנחנו ממליצים לצרף קובץ איכותי<br>
          </div>

          <div>
            מידת הלוגו 150X150 פיקסלים<br>
            בפורמט JPG / PNG
          </div>

          <div class="radio">
            <label>‘התמונה להמחשה בלבד’</label>
            <input type="radio" name="">

          </div>

          <div class="links">
            <div (click)="fileUploader.click()">שנה תמונה</div>
            <div (click)="deleteImage()">למחוק תמונה</div>
          </div>
        </div>

        <div class="upload-image__button">
          <div class="upload-image__button--inner" *ngIf="!uploadedImage" (click)="fileUploader.click()">
            <div class="text">הוסף/י לוגו לרשת</div>
          </div>

          <img [src]="uploadedImage" *ngIf="uploadedImage">
        </div>


      </div>

        <!--<div class="upload__image__container">-->
          <!--<input type="file" (change)="openFileUploader(fileUploader)" accept="image/jpeg,image/png,image/jpg" data-max-size="1024" #fileUploader>-->
          <!--&lt;!&ndash;<div class="upload__image__text">&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
              <!--&lt;!&ndash;הלוגו יופיע בכל פרסומי הקפיטריה, <br>&ndash;&gt;-->
              <!--&lt;!&ndash;על כן, אנחנו ממליצים לצרף קובץ איכותי<br>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
              <!--&lt;!&ndash;מידת הלוגו 150X150 פיקסלים<br>&ndash;&gt;-->
              <!--&lt;!&ndash;בפורמט JPG / PNG&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="radio" name="">&ndash;&gt;-->
              <!--&lt;!&ndash;<label>‘התמונה להמחשה בלבד’</label>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="upload__image__text__links" *ngIf="uploadedImage">&ndash;&gt;-->
              <!--&lt;!&ndash;<div (click)="fileUploader.click()">שנה תמונה</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div (click)="deleteImage()">למחוק תמונה</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--<div class="upload__image__btn">-->
            <!--&lt;!&ndash;<div class="upload__image__corss__container">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="upload__image__btn__text">הוסף/י לוגו לרשת</p>&ndash;&gt;-->

            <!--<div class="upload__image__btn__inner" *ngIf="!uploadedImage" (click)="fileUploader.click()">-->
              <!--<div class="upload__image__btn__text">הוסף/י לוגו לרשת</div>-->
            <!--</div>-->
            <!--<img [src]="uploadedImage" *ngIf="uploadedImage">-->
          <!--</div>-->
        <!--</div>-->

        <div></div>

    </div>


    <div class="extra-category__header">
      <button class="add-button" (click)="addNewExtraCategory()">
        add extra category
      </button>
      <div class="info-icon">i</div>
      <div class="label-text">
        extra categories
      </div>
    </div>

    <div class="extra-category__content" *ngFor="let extra_category of createdProduct.extra_categories; let index = index;">
      <div class="label">
        <button class="remove-button" (click)="removeExtraCategory(index)">
          <img src="./assets/icon/trash.svg">
        </button>
        <div class="info-icon">i</div>
        <div class="name-line">
          <div class="input-line">
            <input type="text" appInput [(ngModel)]="extra_category.extra_cat_name" [placeholderMessage]="'category name'">
          </div>
        </div>
      </div>
      <div class="body" *ngIf="extra_category?.extra_cat_name.length > 0">
        <div class="extra-product">
          <div class="extra-product__outer">
            <div class="info-icon">i</div>
            <div class="description">
              description
            </div>
          </div>

          <div *ngFor="let extra_info of extra_category.extra_info">
            <div class="extra-product__inner">
              <div class="input-line">
                <input type="text" appInput [(ngModel)]="extra_info.extra_pr_name" [placeholderMessage]="'name'">
              </div>

              <div class="input-line">
                <input type="text" dir="rtl" appInput [(ngModel)]="extra_info.extra_pr_descr" [placeholderMessage]="'description'">
              </div>

              <div class="price-input-line" *ngIf="extra_info.double_extra_products?.length === 0">
                <input type="text" dir="rtl" [(ngModel)]="extra_info.extra_pr_price">
              </div>
            </div>

            <div class="double-extra-products__container">
              <div class="double-extra-products__item">
                <div class="double-extra-products__item--outer" *ngIf="extra_info.double_extra_products?.length > 0">
                  <div class="description">
                    description
                  </div>
                </div>

                <div class="double-extra-products__item--inner" *ngFor="let double_extra of extra_info.double_extra_products">
                  <div class="input-line">
                    <input type="text" appInput [(ngModel)]="double_extra.double_extra_pr_name" [placeholderMessage]="'double extra product name'">
                  </div>
                  <div class="price-input-line">
                    <input type="text" dir="rtl" [(ngModel)]="double_extra.double_extra_pr_price">
                  </div>
                </div>

                <div class="double-extra-products__item--button" (click)="addDoubleExtraProduct(extra_info.double_extra_products)">
                  add double extra category
                </div>

              </div>
            </div>
          </div>




          <!--TODO: after BE connect uncomment-->
          <div class="extra-product__button" (click)="addExtraInfo(extra_category.extra_info)">
            add extra product
          </div>
        </div>
      </div>
    </div>

    <div class="extra-category__header" *ngIf="createdProduct.extra_categories?.length > 4">
      <button class="add-button">
        add extra category
      </button>
    </div>

  </div>

  <div class="component-footer">
    <button (click)="saveProduct()" [disabled]="isSubmitButtonDisabled()">save</button>
    <span (click)="goBack()">go back</span>
  </div>

</div>
