.add-product-component {
  .app-input-placeholder{
    font-size: 1.4rem;
  }
  .upload__image__container{
    margin-top: 1rem;
    text-align: right;
        width: auto;
    margin: 0;
    float: none;
  }
  .upload__image__btn__text{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.05rem;
    margin-top: 1rem;
  }
  .upload__image__corss__container{
        position: relative;
    width: 1.3rem;
    height: 0.5rem;
    background: #fff557;
    margin: 0 auto;
    margin-top:11rem;
    &:after{
      content:'';
      background: #fff557;
      position: absolute;
      width: 100%;
      height: 100%;
      left:50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
  .extra-category__header{
    display: block;
    text-align: right;
  }
  .upload__image__text{
    vertical-align: top;
    display: inline-block;
        width: 35%;
    padding-right: 1rem;
    box-sizing: border-box;
    direction: rtl;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: -0.1rem;
    line-height: 1.3;
    margin-top: -0.35rem;
    p:not(:nth-last-child(1)){
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .upload__image__btn{
    cursor: pointer;
    background: #000;
    color: #8f8f8f;
        width: 25rem;
    height: 25rem;
  }
  /*8f8f8f*/
  .upload__image__btn{
    vertical-align: top;
    display: inline-block;
    width: 25rem;
    height: 25rem;
    margin-bottom: 4.5rem;
  }
  .input-line{
    font-size: 1.6rem;
    margin-bottom: 0;
    width: 22rem;
    span{
      display: none;
    }
  }
  .component-header {
    text-align: right;
    .button-container {
      margin-bottom: 30px;
      button {
        height: 34px;
            width: 22rem;
    max-width: none;
    height: 3rem;
    font-size: 1.2rem;
    width: 17rem;
      }
    }
    .text-container {
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 1.2rem;
          font-size: 2.5rem;
    margin-top: 2.7rem;
    }
  }

  .image__btn__text{
    background: #000;
    margin-bottom: 1rem;
  }

  .component-body {
    .new-product {
      /*padding: 20px;*/
      background: #fff;
      margin-bottom: 20px;
      padding: 0 4rem;
      padding-top: 1.1rem;
      .name-line {
        display: flex;
        flex-direction: row-reverse;

        .input-line {
          width: 50%;
          margin-bottom: 20px;
        }
        .chech__cont{
              font-size: 0.8rem;
    margin-bottom: 1.5rem;
          display: inline-block;
          cursor: pointer;
          vertical-align: top;
                      span{
              display: block;
              float: none;
            }
        }
        .check-elements {
          /*width: 50%;*/
          text-align: center;
          align-self: center;
          display: inline-block;
          float: left;
          .check-element {
            display: inline-block;
            span{
              display: block;
              float: none;
            }
            &:after {
              content: '\2713';
              left: calc(50% - 10px);
              bottom: 20px;
              color: grey;
              display: inline-block;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
            }
          }
        }
      }

      .border-bottom {
        width: calc(100% + 8rem);
        border-bottom: 1px solid #000;
        display: block;
        margin-left: -4rem;
        margin-bottom: 40px;
        margin-bottom: 10rem;
      }

      .cook-time {

        width: 50%;
        display: flex;
        margin-left: auto;
        margin-bottom: 40px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 31rem;
        margin-bottom: 6.3rem;

        .label {
          width: 100%;
          position: relative;
          text-align: right;
          margin-bottom: 10px;
              font-size: 1.4rem;
    font-family: sans-serif;
          padding-bottom: 5px;
        }

        .minute {
    width: 3.2rem;
    margin-bottom: 1px;
    height: 3.2rem;
    line-height: 3rem;
    vertical-align: center;
    border: 1px solid #cdcccc;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
    color: grey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 1.4rem;

        }
        .minute.selected {
          background: #000;
          color: #fff;
        }
      }

      .radio-elements {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 50%;
        margin-left: auto;
        margin-bottom: 40px;
        padding-bottom: 5px;
        width: 37rem;
        .radio-element {
          width: calc(100% / 3 - 5px);
          flex-wrap: wrap;
          justify-content: space-between;
          text-align: right;
          cursor: pointer;
          font-size: 1.6rem;
          font-family: sans-serif;
          margin-left: 2.3rem;
          margin-bottom: 2rem;
          width: 8.6rem;
          input{
            width: 1.6rem;
            height: 1.6rem;
          }
          label{
            font-size: 1.5rem;
            display: inline-block;
            margin-top: -0rem;
            vertical-align: top;
          }
          .text {
            color: grey;
            cursor: pointer;
          }

          &:hover {
            .text {
              color: darken(grey, 10%);
            }
          }
        }
      }
    }

    // can be removed to one component
    .extra-category {
      &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .add-button {
          height: 34px;
          width: auto;
          max-width: 30%;
          padding: 5px 15px;
          background: #000;
          color: grey;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
              width: 22rem;
    height: 3rem;
    font-size: 1.2rem;
          &[disabled] {
            background: lighten(#000, 20%);
            cursor: not-allowed;
          }
          &:active {
            background: lighten(#000, 10%);
          }
        }

        .label-text {
          align-self: center;
          font-size: 1.4rem;
          font-weight: 900;
          color: #000;
        }
      }
      &__content {
        margin-bottom: 20px;
        box-shadow: 0 0px 10px rgba(0,0,0,0.5);
        .label {
          display: flex;
          justify-content: space-between;
          padding: 20px 30px;
          background: #fff;

          .remove-button {
            max-width: none;
            width: 20px;
            background: inherit;
            height: auto;
            padding: 0;
            [disabled] {
              opacity: 0.8;
              cursor: not-allowed;
            }
            &:active {
              transform: scale(0.9);
            }
            img {
              width: 100%;
            }
          }

          .name-line {
            align-self: center;
            color: #000;
            font-weight: 900;
            .input-line {
              margin-bottom: 1rem;
              width: 100%;
            }
          }
        }
        .body {
          padding: 15px 30px;
          background: #eaeaea;

          .extra-product {
            margin: 0 10px 10px 0;
            &__inner {
              display: flex;
              position: relative;
              flex-direction: row-reverse;
              padding: 20px;
              margin-bottom: 15px;
              background: #fff;
            }
            &__outer {
              display: flex;
              margin-bottom: 2px;
              .description {
                align-self: center;
                font-size: 0.8rem;
                color: darken(#eaeaea, 50%);
              }
            }

            &__button {
              text-align: right;
              font-size: 1rem;
              text-decoration: underline;
              color: #858585;
              user-select: none;
              cursor: pointer;
              &:hover {
                color: lighten(#858585, 10%);
              }
            }

            .double-extra-products {
              &__item {
                margin: 0 50px 10px 0;
                &--inner {
                  display: flex;
                  position: relative;
                  flex-direction: row-reverse;
                  justify-content: space-between;
                  padding: 20px;
                  margin-bottom: 15px;
                  background: #f4f4f4;
                  .app-input-placeholder {
                    font-size: 0.9rem;
                  }
                }
                &--outer {
                  display: flex;
                  justify-content: flex-end;
                  margin: 10px 0 5px 0;

                  .description {
                    align-self: center;
                    font-size: 0.8rem;
                    color: darken(#eaeaea, 50%);
                  }
                }

                &--button {
                  text-align: right;
                  font-size: 0.9rem;
                  text-decoration: underline;
                  color: #858585;
                  user-select: none;
                  cursor: pointer;
                  &:hover {
                    color: lighten(#858585, 10%);
                  }
                }
              }
            }



            .input-line {
              width: 30%;
              margin-bottom: 0;
              margin-left: 10%;
            }
          }
        }
      }


    }
    .info-icon {
      background: #fff;
      border-radius: 100%;
      height: 20px;
      width: 20px;
      border: 1px solid lightgrey;
      margin-left: auto;
      margin-right: 20px;
      align-self: center;
      text-align: center;
      line-height: 21px;
      font-weight: 900;
      color: #ff5b57;
      cursor: pointer;
      user-select: none;
    }

    //.new-extra-category {
    //  .add-new-extra-category-button {
    //    display: flex;
    //    justify-content: space-between;
    //    margin-bottom: 40px;
    //    .label {
    //      color: #000;
    //      font-size: 1.4rem;
    //      font-weight: 900;
    //      align-self: center;
    //    }
    //    button {
    //      height: 34px;
    //      color: grey;
    //      background: #000;
    //      white-space: nowrap;
    //      text-overflow: ellipsis;
    //      overflow: auto;
    //      &:active {
    //        background: lighten(#000, 10%)
    //      }
    //    }
    //    button[disabled] {
    //      cursor: not-allowed;
    //      background: lighten(#000, 30%)
    //    }
    //  }
    //
    //
    //
    //  //.extra-categories {
    //  //  margin-bottom: 40px;
    //  //  .extra-category {
    //  //    display: flex;
    //  //    flex-direction: row-reverse;
    //  //    justify-content: space-between;
    //  //    padding: 20px;
    //  //    margin-bottom: 20px;
    //  //    background: #fff;
    //  //
    //  //    .extra-category-name {
    //  //      width: 50%;
    //  //      .input-line {
    //  //        margin-bottom: 0;
    //  //      }
    //  //    }
    //  //    .extra-category-button {
    //  //      align-self: center;
    //  //      button {
    //  //        width: auto;
    //  //        height: auto;
    //  //        color: grey;
    //  //        background: inherit;
    //  //        margin-bottom: 0;
    //  //      }
    //  //      button[disabled] {
    //  //        cursor: not-allowed;
    //  //      }
    //  //    }
    //  //
    //  //    .extra-product {
    //  //      background: grey;
    //  //      padding: 20px 40px;
    //  //    }
    //  //  }
    //  //}
    //}


  }

  .component-footer {
    text-align: right;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    button{
      font-size: 1.2rem;
    width: 22rem;
    max-width: none;
        height: 2.4rem;
    width: 17rem;
    }
    span {
      margin: 0 20px;
      align-self: center;
      user-select: none;
      cursor: pointer;
          font-size: 1.4rem;
    font-family: sans-serif;
      &:hover {
        text-decoration: underline;
      }
    }

    button[disabled] {
      background: lighten(#fff557, 10%);
      cursor: not-allowed;
    }
  }

  button {
    width: 100%;
    max-width: 150px;
    height: 44px;
    background: #fff557;
    font-size: 0.9rem;
    font-weight: 900;
       max-width: none;
    height: 3rem;
    font-size: 1.2rem;
    &:active {
      background: darken(#fff557, 10%);
    }
  }


  .input-line {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-bottom: 40px;
    align-self: flex-end;

    input {
      width: 100%;
      height: 34px;
      font-size: 1.1rem;
      font-weight: 300;
      background: inherit;
      height: 3rem;
    }
  }
  .price-input-line {
    width: 50px;
    height: 34px;
    font-size: 1.1rem;
    font-weight: 300;
    background: inherit;
    margin-left: 60px;
    margin-right: auto;
    input {
      width: 100%;
      background: inherit;
      height: 34px;
      font-size: 1.1rem;
      height: 3rem;
    }
  }
  .required:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff5b57;
    right: 0;
    bottom: 1px;
  }
  .required-top:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff5b57;
    right: 0;
    top: -5px;
  }
}



